.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  text-align: center;
  height: 50px;
  /*position: fixed;*/
  top: 0;
}
.logo {
  padding-top: 13px;
  width: 170px; /* Adjust according to your logo size */
  height: auto;
  position: absolute;
  left: 20px;
}
.navbarList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarElement {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 25px;
  color: #0095B9;
}
.App-header {
  background-color: #032450;
  height: 64px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
