.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  text-align: center;
  height: 50px;
  justify-content: space-between;
  /*position: fixed;*/
  top: 0;
}
.logo {
  padding-top: 15px;
  width: 170px; /* Adjust according to your logo size */
  height: auto;
  position: absolute;
  left: 20px;
}
.linkContainer {
  display: flex;
  margin-left: auto;
  justify-content: right;
}
.linkedin {
  /*padding-top: 15px;*/
  /*width: 80px; !* Adjust according to your logo size *!*/
  /*height: auto;*/
  /*position: absolute;*/
  /*right: 20px;*/
  margin-left: auto;
}
.navbarList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarElement {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 25px;
  color: #0095B9;
  font-family: "Baloo Tamma 2", sans-serif;
}
.App-header {
  background-color: #032450;
  height: 64px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  /*align-items: center;*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
